
<div class="row justify-content-center" style="margin-top: 8vh; margin-bottom: 2vh">
	<div class="col-10">
		<div class="card" style="padding: 0px 10px">
			<div class="card-body">
				<h4 class="text-center" style="padding: 10px">Edit Store</h4>
				<hr class="my-3 mb-4">
				<%= render 'form', store: @store %>
			</div>
		</div>
	</div>
</div>