<div id="home" class="text-center">
	<h2>Welcome To Tanjung Malim Directory System</h2>
	<%= link_to "#" do %>
		<button class="btn btn-md btn-info">
			<i class="fas fa-arrow-right"></i>
		</button>
	<% end %>
</div>